{% extends "base.html" %}

{% block content %}
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 breadcrumbf">
	        </div>
	    </div>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 col-md-8">
	        	<div class="post" style="margin-top: 20px;">
                    <div class="postinfotop">
                        <h2>Reset Password complete</h2>
                    </div>

                    <!-- acc section -->
                    <div class="accsection">
                        <div class="topwrap">
                            <div class="posttext pull-left" style="padding-left: 30px;width: 100%;">
                            	<div class="row">
                                    <div class="col-lg-12 col-md-12">
                                    	<div class="alert alert-success">
                                    		Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                                    	</div>
                                	</div>
                                </div>
                            </div>
                        </div>  
                    </div>
	            </div>
	      	</div>
		</div>
	</div>
{% endblock content %}