{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 breadcrumbf">
	        </div>
	    </div>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-lg-8 col-md-8">
	        	<div class="post" style="margin-top: 20px;">
	        		<form method='POST' action='' class="form newtopic">{% csrf_token %}
	                    <div class="postinfotop">
	                        <h2>Reset Password</h2>
	                    </div>

	                    <!-- acc section -->
	                    <div class="accsection">
	                        <div class="topwrap">
	                            <div class="posttext pull-left" style="padding-left: 30px;width: 100%;">
	                            	<div class="row">
	                                    <div class="col-lg-12 col-md-12">
	                                    	<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
								            {{ form|crispy }}
	                                	</div>
	                                </div>
	                            </div>
	                            <div class="clearfix"></div>
	                        </div>  
	                    </div>
	                    <div class="postinfobot">
	                        <div class="pull-right postreply">
	                            <div class="pull-left"><button type="submit" class="btn btn-primary">Request Password Reset</button></div>
	                            <div class="clearfix"></div>
	                        </div>
	                        <div class="clearfix"></div>
	                    </div>
	                </form>
	            </div>
	      	</div>
		</div>
	</div>
{% endblock content %}