{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 breadcrumbf">
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="post" style="margin-top: 20px;">
              {% if validlink %}
              <form method='POST' action='' class="form newtopic">{% csrf_token %}
                      <div class="postinfotop">
                          <h2>Change password</h2>
                      </div>

                      <!-- acc section -->
                      <div class="accsection">
                          <div class="topwrap">
                              <div class="posttext pull-left" style="padding-left: 30px;width: 100%;">
                                <div class="row">
                                      <div class="col-lg-12 col-md-12">
                                        {{ form|crispy }}
                                    </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>  
                      </div>
                      <div class="postinfobot">
                          <div class="pull-right postreply">
                              <div class="pull-left"><button type="submit" class="btn btn-primary">Change password</button></div>
                              <div class="clearfix"></div>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                  </form>
                  {% else %}
                    <div class="postinfotop">
                          <h2>Warning</h2>
                      </div>
                    <div class="accsection">
                          <div class="topwrap">
                              <div class="posttext pull-left" style="padding-left: 30px;width: 100%;">
                                <div class="row">
                                      <div class="col-lg-12 col-md-12">
                                        <div class="alert alert-warning">
                                          The password reset link was invalid, possibly because it has already been used.
                                          Please request a new password reset.
                                        </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>  
                      </div>
                  {% endif %}
              </div>
          </div>
      </div>
    </div>
{% endblock %}