{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at BENZNANA Forum Site Account.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

Sincerely,
{% blocktrans %}The BENZNANA Forum Site Team team{% endblocktrans %}

{% endautoescape %}
